@import "./font.css";
.container-fluid {
    margin: 0;
    padding: 0
}

#header .container-fluid {
    background-image: url(../Assets/background/retro-furnish.webp);
    background-position: cover;
    background-repeat: repeat;
    height: 500px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

#header .container-fluid::before {
    content: '';
    background: radial-gradient(#1116,#000);
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
    height: 500px;
    width: 100%;
}


#header .container-fluid h1 {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 5px;
    filter: drop-shadow(5px 5px 0px #ffc107);
    color: #ffff;
    -webkit-box-reflect: below -37px linear-gradient(transparent, #0002);
}


.top-contain-head {
    font-size: 2em;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    background-image: linear-gradient(to left, #df3434, #06f);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text
}

.top-contain-para {
    margin-top: 15px;
    padding: 0 25px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #8d8d8d;
    line-height: 26px
}

.service-ul {
    background: #eee
}

.service-ul h2 {
    color: #666;
    font-size: 44px;
    font-family: 'Poppins', sans-serif
}

.service-ul p {
    color: #777
}

.service-ul .card {
    border: 1px solid transparent;
    background: transparent;
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
    border-radius: 6px
}

.service-ul .card .card-img {
    height: 80px;
    width: 80px;
    margin-left: auto;
    margin-right: auto
}

.service-ul .col-md-3 {
    border-right: 2px solid #ddd
}

.service-ul .col-md-3:last-child {
    border-right: 2px solid transparent
}

.service-ul .card .card-head {
    color: #666;
    margin-top: 5px;
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
    border-bottom: 2px solid #ddd
}

.card-ul {
    padding-left: 1rem!important
}

.service-ul .card .card-ul li {
    padding: 10px 0;
    list-style-type: none;
    padding-top: 5px
}

.service-ul ul li a {
    color: #8d8d8d;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto';
    letter-spacing: .5px
}

.service-ul ul li a:hover {
    color: #ffc107
}

.service-detail h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600px;
    font-size: 32px;
    color: #868686;
    margin: 20px 0
}

.service-detail h2 span {
    color: #5e5e5e;
    font-size: 38px;
    font-weight: 600
}

.service-detail h2::after {
    content: '';
    background: #ffc107;
    display: block;
    width: 20%;
    height: 3px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px
}

.service-detail .card-icon {
    display: flex!important;
    margin-top: -65px;
    margin-bottom: 20px;
    font-size: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #0096FF;
    font-weight: 300;
    background-color: #fff
}

.service-detail .card {
    height: 230px
}

.service-detail .card-text {
    padding: 10px 20px!important
}

@media only screen and (max-width: 991px) {
    .service-detail .card {
        height: 260px
    }
}

@media only screen and (max-width: 767px) {
    #header .container-fluid h1 {
        font-size: 45px!important;
        filter: drop-shadow(3px 3px 0px #ffc107)
    }
}

@media only screen and (max-width: 480px) {
    .top-contain-head {
        font-size: 25px;
    }
    #header .container-fluid h1 {
        font-size: 30px!important;
        filter: drop-shadow(3px 2px 0px #ffc107)
    }
    #header .container-fluid{
        height: 400px;
    }
    #header .container-fluid::after{
        height: 400px;
    }
    #header .container-fluid::before{
        height: 400px;
    }
}